* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenSans-regular";
  src: url(../Fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: "OpenSans-bold";
  src: url(../Fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: OpenSans, sans-serif;
}

.header {
  width: 100%;
  padding-bottom: 147px;
  padding-top: 36px;
  background-image: url(../Images/banner-bg.jpg);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  z-index: 0;
}

.header::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #000;
  opacity: 0.6;

  z-index: -1;
}

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1220px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  display: block;
  width: 180px;
}

.menu-list {
  list-style-type: none;
  font-family: "OpenSans-regular";
  text-transform: uppercase;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-list-item:hover {
  text-decoration: underline;
}

a {
  color: #fff;
  text-decoration: none;
}

.title {
  display: block;
  width: 680px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;

  font-family: "OpenSans-bold";
  font-size: 45px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.6;
}

/*СТИЛИ ТРЕНДОВ*/

.trends {
  margin-top: 65px;
}

.trend-box {
  width: 100%;
  display: flex;
}

.trend-pic {
  display: flex;
  align-items: flex-end;

  width: 25%;
  height: 320px;
  position: relative;

  z-index: 0;
}

.trend-pic:nth-child(n + 1):nth-child(-n + 3) {
  margin-right: 4px;
}

.trend-pic::after {
  content: "";

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #000;
  opacity: 0.6;

  z-index: -1;
}

.trend_1 {
  background-image: url(../Images/trend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.trend_2 {
  background-image: url(../Images/trend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.trend_3 {
  background-image: url(../Images/trend3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.trend_4 {
  background-image: url(../Images/trend4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
}

.trend-info {
  border: 3px solid #8f7d4b;
  padding: 37px 32px;
  margin: 24px 24px;
}

.trend-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

/*СТИЛИ ОСНОВНОГО КОНТЕНТА*/

.main-box {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  padding-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  max-width: 778px;
}

.section {
  display: flex;
}

.picture {
  align-items: flex-start;
  width: 380px;
}

.info {
  display: block;
  margin-left: 30px;
}

.themes {
  display: block;
}

.theme-list {
  display: flex;
  list-style-type: none;
}

li {
  margin-right: 10px;
}

.theme-name {
  color: #b59f5b;
  text-transform: uppercase;
  font-family: "OpenSans-bold";
  font-size: 14px;
}

.theme-name:hover {
  text-decoration: underline;
}

.section:nth-child(n + 2) {
  margin-top: 40px;
}

h2 {
  margin-top: 15px;
}

.section-title {
  display: flex;

  color: #0f0d0e;
  text-transform: uppercase;
  font-size: 20px;
}

.meta {
  margin-top: 35px;
}

.date {
  margin-right: 15px;

  font-size: 12px;
  font-weight: 400;
  color: #888;
}

.author {
  font-size: 12px;
  font-style: bold;
  font-weight: 700;
}

.content {
  margin-top: 40px;

  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

/*СТИЛИ БОКОВОЙ КОЛОНКИ*/

.aside {
  width: 274px;
}

.caption {
  font-family: "OpenSans-bold";
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

.caption::after {
  content: "";
  display: block;

  border: 1px solid #e1d9bd;
  width: 66px;
  height: 1px;
  margin-top: 14px;
  margin-left: auto;
  margin-bottom: 24px;
  margin-right: auto;

  background-color: #e1d9bd;
}

.new-post {
  display: flex;
  margin-bottom: 22px;
}

.pic {
  width: 70px;
  height: 70px;
}

.preview {
  margin-left: 19px;
}

.post-title {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.search {
  width: 100%;
}

.search-form {
  display: flex;
  margin-top: 60px;
}

.voice-hint {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search-field {
  width: 100%;
  padding: 15px 20px;
  border: none;
  background-color: #f4f7f6;
}

.search-field:focus {
  outline-color: #8d7628;
}

.button {
  width: 49px;
  height: 45px;
  border: none;

  background-color: #b59f5b;
  background-image: url(../SVG/search.svg);
  background-repeat: no-repeat;
  background-size: 20px 18px;
  background-position: center;
}

.button:hover {
  background-color: #c9a939;
}

.submit-form {
  margin-top: 60px;
  display: block;
}

.e-mail {
  width: 100%;
  margin-right: 13px;
  padding: 15px 20px;
  border: none;
  background-color: #f4f7f6;
}

.e-mail:focus {
  outline-color: #8d7628;
}

.btn {
  width: 100%;
  margin-top: 16px;
  padding: 15px 10px;

  border: none;
  background-color: #b59f5b;
  text-transform: uppercase;
  font-family: "OpenSans-bold";
  color: #fff;
}

.btn:hover {
  background-color: #c9a939;
}

.btn:focus {
  outline-color: #8d7628;
}

.tags {
  display: block;
  margin-top: 60px;
}

.tag {
  display: flex;
  flex-wrap: wrap;

  list-style-type: none;
  font-family: "OpenSans-bold";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.tag-name {
  margin-bottom: 7px;
}

.tag-link {
  display: block;

  color: #000;
  border: 4px solid #ededed;
  padding: 5px 10px;
}

.tag-link:hover {
  outline: 1px solid #b59f5b;
}

.categories-section {
  margin-top: 60px;
}

.categories {
  list-style-type: none;
}

.categorie-name {
  display: block;

  border-bottom: 2px solid #eee;
  padding-bottom: 12px;
  padding-top: 17px;
}

.categorie-link {
  color: #000;
  font-family: "OpenSans-bold";
  font-size: 14px;
  font-weight: 700;
}

.categorie-link:hover {
  color: #b59f5b;
}

.number {
  color: #b59f5b;
  font-size: 12px;
  font-weight: 700;
  font-family: "OpenSans-bold";
  vertical-align: super;
}

/*СТИЛИ ИЗДЕЛИЙ*/

.our-goods {
  max-width: 1200px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.goods {
  display: flex;
  justify-content: space-around;
}

.goods-preview {
  display: flex;
  
  width: 300px;
  height: 438px;
}

.card-1 {
  background-image: url(../Images/shop-item-desk1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card-info {
  margin-top: 200px;
  padding-top: 25px;
  outline: 3px solid #d1c3a0;
  outline-offset: 21px;
}

.card-name {
  color: #0f0d0e;
  text-transform: uppercase;
  font-size: 20px;
}

.description {
  margin-top: 16px;

  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

.link {
  color: #ccb780;
}

.link:hover {
  text-decoration: underline;
}

.goods-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.price-old {
  text-decoration: line-through;
  font-family: "OpenSans-bold";
  font-size: 15px;
  font-weight: 600;
}

.price {
  font-family: "OpenSans-bold";
  font-size: 20px;
  font-weight: 600;
}

.shop-button {
  width: 148px;
  height: 49px;

  border: none;
  background-color: #b59f5b;
  text-transform: uppercase;
  font-family: "OpenSans-bold";
  color: #fff;
}

.shop-button:hover {
  background-color: #c9a939;
}

.card-2 {
  background-image: url(../Images/shop-item-desk2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.card-3 {
  background-image: url(../Images/shop-item-desk3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

/*СТИЛИ ФУТЕРА*/

.footer {
  width: 100%;
  margin-top: 64px;
  margin-bottom: 50px;
}

.social-box {
  background-color: #eee;

  width: 1200px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 31px;
  padding-bottom: 31px;
}

.socials {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social-icon {
  display: block;

  width: 33px;
  height: 33px;

  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.social-icon-twitter {
  background-image: url(../SVG/004-twitter.svg);
}

.social-icon-pinterest {
  background-image: url(../SVG/001-pinterest.svg);
}

.social-icon-facebook {
  background-image: url(../SVG/002-facebook-logo.svg);
}

.social-icon-instagram {
  background-image: url(../SVG/005-instagram.svg);
}

.social-icon-tumblr {
  background-image: url(../SVG/003-tumblr.svg);
}

.copyright-box {
  display: block;

  width: 100%;
  margin-top: 73px;
  text-align: center;
}

.copyright {
  font-size: 12px;
  color: #999;
  font-weight: 700;
}

.copyright:hover {
  color: #000;
}
